*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
}
.sol-menu{
    min-width: 300px;
    background-color: rgb(40, 40, 40);
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    z-index: 999;
}
.resim-kutu{
    width: 90%;
    height: 40%;
    background-image: url("resim1.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    transition: all 0.5s ease;
    border-radius: 50%;
    aspect-ratio: 1 / 1 ;
}
#isim{
    font-size: 30px;
    color: rgb(225, 225, 225);
}
#bolum{
    font-size: 25px;
    color: rgb(225, 225, 225);
    margin-top: 50px;
}
.resim-kutu:hover{
    transform: scale(1.05);
}
.top-navbar{
    background-color: rgb(40,40,40);
    display: flex;
    justify-content:center;
    align-items: center;
    height: 11vh;
    max-width: 100%;
    position: fixed;
    width: 100%;
    
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 20%;
}
ul li{
    display: inline;
    padding: 20px;
    background-color: rgb(40,40,40);
    border-radius: 100px;
    transition: all 0.4s ease;
}
a{
    text-decoration: none;
    color: rgb(225, 225, 225);
    font-size: 20px;
}
ul li:hover{
    background-color: black;
}
.yazi1{
    margin-left: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}
.yazi1 p{
    font-size: 30px;
    text-align: center;
    animation: gecisAnimasyon 2s ease;
}
@keyframes gecisAnimasyon{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}